<a href="https://colab.research.google.com/github/capitallatera/Project_1/blob/master/Concatenate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
ls

Concatenate.ipynb  dataset_1.xlsx  dataset_2.xlsx  dataset_3.xlsx

In [0]:
# Importing  Libraries
import pandas as pd
import numpy as np

### Reading excel file

In [0]:
data_1=pd.read_excel("dataset_1.xlsx")
data_1.shape[0]

9164

In [0]:
data_2=pd.read_excel("dataset_2.xlsx")
data_2.shape[0]

487

In [0]:
data_3=pd.read_excel("dataset_3.xlsx")
data_3.shape[0]

220

###  Making the names of columns same on all dataset

In [0]:
data_1.columns

Index(['Mobile Phone', ',Name', ',Content', ',Date', ',Message Type', ',Read',
       'Unnamed: 6'],
      dtype='object')

In [0]:
data_2.columns

Index(['Mobile Phone', ',Name', ',Content', ',Date', ',Message Type', ',Read',
       'Unnamed: 6'],
      dtype='object')

In [0]:
data_3.columns

Index(['ID', 'Phone', 'Content', 'ShowName', 'Date', 'MsgType', 'Read'], dtype='object')

In [0]:
data_1.columns==data_2.columns

array([ True,  True,  True,  True,  True,  True,  True])

In [0]:
## Removing "," from the columns name

data_1.rename({',Name':'Name', ',Content':'Content', ',Date':'Date', ',Message Type':'Message Type', ',Read':'Read'},axis='columns',inplace=True)
data_2.rename({',Name':'Name', ',Content':'Content', ',Date':'Date', ',Message Type':'Message Type', ',Read':'Read'},axis='columns',inplace=True)

In [0]:
data_1.columns==data_2.columns

array([ True,  True,  True,  True,  True,  True,  True])

In [0]:
data_3.rename({'ID':"Unnamed: 6", 'Phone':'Mobile Phone', 'Content':'Content', 'ShowName':'Name', 'Date':'Date', 'MsgType':'Message Type', 'Read':'Read'},axis='columns',inplace=True)

In [0]:
data_3.columns

Index(['Unnamed: 6', 'Mobile Phone', 'Content', 'Name', 'Date', 'Message Type',
       'Read'],
      dtype='object')

In [0]:
output=pd.concat([data_1,data_2,data_3],axis=0,ignore_index=True)

/home/anil/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [0]:
print("Total data: ",data_1.shape[0]+data_2.shape[0]+data_3.shape[0])

Total data:  9871

In [0]:
output.shape[0]

9871

In [0]:
output.to_csv("combined.csv")
output.to_excel("combined.xlsx")

In [0]:
ls

combined.csv   Concatenate.ipynb  dataset_2.xlsx
combined.xlsx  dataset_1.xlsx     dataset_3.xlsx

In [0]:
df=pd.read_csv("combined.csv")
df.head()

,Unnamed: 0,Content,Date,Message Type,Mobile Phone,Name,Read,Unnamed: 6
0,0,",""While receiving an international call, if an...",""",2019/08/05 07:12:32",",1",AP-DOTPUN,",AP-DOTPUN",",1",",35029_407"
1,1,",Non-violence is the greatest force at the dis...",",2019/10/02 20:22:52",",1",AP-DOTPUN,",AP-DOTPUN",",1",",42235_407"
2,2,",""इस गांधी जयंतीआइए, बापू को समर्पित करें एक स...",""",2019/10/03 20:34:18",",1",AP-DOTPUN,",AP-DOTPUN",",1",",42396_407"
3,3,",To call woman the weaker sex is a libel; it i...",",2019/10/11 07:17:48",",1",AP-DOTPUN,",AP-DOTPUN",",1",",43534_407"
4,4,",""I attach the highest importance to quality, ...",""",2019/10/16 20:14:55",",1",AP-DOTPUN,",AP-DOTPUN",",1",",44190_407"